@using GameStore.Common.Enums
@model GameStore.Web.Models.GameViewModel

@{
	ViewBag.Title = "Game";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Game</h1>
<b>@Html.LabelFor(m => m.Key)</b>
<p>@Html.DisplayFor(m => m.Key)</p>
<b>@Html.LabelFor(m => m.Name)</b>
<p>@Html.DisplayFor(m => m.Name)</p>
<b>@Html.LabelFor(m => m.Description)</b>
<p>@Html.DisplayFor(m => m.Description)</p>
<b>@Html.LabelFor(m => m.Price)</b>
<p>@Html.DisplayFor(m => m.Price)</p>
<b>@Html.LabelFor(m => m.UnitsInStock)</b>
<p>@Html.DisplayFor(m => m.UnitsInStock)</p>
<b>@Html.LabelFor(m => m.Discontinued)</b>
<p>@Html.DisplayFor(m => m.Discontinued)</p>

@if (Model.PlatformTypesInput.Count != 0)
{
	<b>@Html.LabelFor(m => m.PlatformTypesInput)</b>
	foreach (var platformType in Model.PlatformTypesInput)
	{
		<p>@platformType</p>
	}
}

<b>@Html.LabelFor(m => m.GenresInput)</b>

@if (Model.GenresInput.Count != 0)
{
	foreach (var name in Model.GenresInput)
	{
		<p>@name</p>
	}
}
else
{
	<p>Other</p>
}

<b>@Html.LabelFor(m => m.PublisherInput)</b>

@if (Model.PublisherInput != null)
{
	<p>@Model.PublisherInput</p>
}
else
{
	<p>Unknown</p>
}

@if (User.Identity.IsAuthenticated)
{
	@Html.ActionLink("Download", "Download", "Games", null, new { target = "_blank", @class = "btn btn-primary" })

	using (Html.BeginForm("Buy", "Orders", FormMethod.Post))
	{
		<input type="hidden" name="gameKey" value=@Model.Key />
		<button type="submit" class="btn btn-default">Buy</button>
	}
}

@if (!User.Identity.IsAuthenticated || User.Identity.IsAuthenticated && !User.IsInRole(AccessLevel.Administrator.ToString()))
{
	@Html.ActionLink("Comments", "New", "Comments", new { key = Model.Key }, new { @class = "btn btn-default" })
}

@if (User.Identity.IsAuthenticated && User.IsInRole(AccessLevel.Manager.ToString()))
{
	@Html.ActionLink("Update", "Update", "Games", new { key = Model.Key }, new { @class = "btn btn-default" })
	@Html.ActionLink("Delete", "Delete", "Games", new { key = Model.Key }, new { @class = "btn btn-danger" })
}