@model GameStore.Web.Models.PublisherViewModel

@{
	ViewBag.Title = "New Publishers";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New Publishers</h1>
@using (Html.BeginForm("New", "Publisher", FormMethod.Post))
{
	<b>@Html.LabelFor(m => m.CompanyName)</b>
	<p>
		@Html.EditorFor(m => m.CompanyName)
		@Html.ValidationMessageFor(m => m.CompanyName)
	</p>
	<b>@Html.LabelFor(m => m.Description)</b>
	<p>
		@Html.EditorFor(m => m.Description)
		@Html.ValidationMessageFor(m => m.Description)
	</p>
	<b>@Html.LabelFor(m => m.HomePage)</b>
	<p>
		@Html.EditorFor(m => m.HomePage)
		@Html.ValidationMessageFor(m => m.HomePage)
	</p>
	<p><button type="submit">Create</button></p>
}