@model GameStore.Web.Models.PublisherViewModel

@{
    ViewBag.Title = "New Publisher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New Publisher</h1>
@using (Html.BeginForm("NewPublisher", "Publisher", FormMethod.Post))
{
    @Html.LabelFor(m => m.CompanyName)<br />
    @Html.EditorFor(m => m.CompanyName)<br />
    @Html.ValidationMessageFor(m => m.CompanyName)<br />
    @Html.LabelFor(m => m.Description)<br />
    @Html.EditorFor(m => m.Description)<br />
    @Html.ValidationMessageFor(m => m.Description)<br />
    @Html.LabelFor(m => m.HomePage)<br />
    @Html.EditorFor(m => m.HomePage)<br />
    @Html.ValidationMessageFor(m => m.HomePage)<br />
    <button type="submit">Create</button>
}
