@model GameStore.Web.Models.PublisherViewModel

@{
    ViewBag.Title = "Show Publisher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Show Publisher</h1>

<b>@Html.LabelFor(m => m.CompanyName)</b>
<p>@Html.DisplayFor(model => model.CompanyName)</p>
<b>@Html.LabelFor(m => m.Description)</b>
<p>@Html.DisplayFor(m => m.Description)</p>
<b>@Html.LabelFor(m => m.HomePage)</b>
<p>@Html.DisplayFor(m => m.HomePage)</p>
@if (Model.Games != null)
{
    <b>@Html.LabelFor(m => m.Games)</b>
    <br />
    foreach (var game in Model.Games)
    {
        <b>@Html.Label(game.Name)</b>
        <p>@Html.Display(game.Name)</p>
        <b>@Html.Label(game.Description)</b>
        <p>@Html.Display(game.Description)</p>
    }
}