@model GameStore.Web.Models.OrderViewModel

@{
	ViewBag.Title = GlobalResource.Basket;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@GlobalResource.Basket</h1>
<hr />

@if (Model.OrderDetails.Count > 0)
{
	<b>@Html.LabelFor(m => m.TotalPrice)</b>
	<p>@Html.DisplayFor(m => m.TotalPrice)</p>
	<h3>@GlobalResource.OrderDetails</h3>

	foreach (var detail in Model.OrderDetails)
	{
		<b>@Html.LabelFor(m => detail.Game.Name)</b>
		<p>
			@Html.DisplayFor(m => detail.Game.Name)
		</p>
		<b>@Html.LabelFor(m => detail.Price)</b>
		<p>
			@Html.DisplayFor(m => detail.Price)
		</p>
		<b>@Html.LabelFor(m => detail.Quantity)</b>
		<p>
			@Html.DisplayFor(m => detail.Quantity)
		</p>
		<p>
			@using (Html.BeginForm("AddDetails", "Orders", FormMethod.Post))
			{
				<input type="hidden" name="orderId" value=@Model.Id />
				<input type="hidden" name="gameKey" value=@detail.GameKey />
				<button type="submit" class="btn btn-default">@GlobalResource.ToAddItem</button>
			}

			@using (Html.BeginForm("DeleteDetails", "Orders", FormMethod.Post))
			{
				<input type="hidden" name="orderId" value=@Model.Id />
				<input type="hidden" name="gameKey" value=@detail.GameKey />
				<button type="submit" class="btn btn-default">@GlobalResource.ToDeleteItem</button>
			}
		</p>
		<hr />
	}

	using (Html.BeginForm("Confirm", "Orders", FormMethod.Post))
	{
		<input type="hidden" name="orderId" value=@Model.Id />
		<button type="submit" class="btn btn-default">@GlobalResource.ToConfirm</button>
	}
}
else
{
	<p>@GlobalResource.YourBasketIsEmpty</p>
}