@model GameStore.Web.Models.OrderViewModel

@{
	ViewBag.Title = "Busket";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Busket</h1>
<hr />

@foreach (var detail in Model.OrderDetails)
{
	<b>@Html.LabelFor(m => detail.Game.Name)</b>
	<p>
		@Html.DisplayFor(m => detail.Game.Name)
	</p>
	<b>@Html.LabelFor(m => detail.Price)</b>
	<p>
		@Html.DisplayFor(m => detail.Price)
	</p>
	<b>@Html.LabelFor(m => detail.Quantity)</b>
	<p>
		@Html.DisplayFor(m => detail.Quantity)
	</p>
	<p>@Html.ActionLink("Delete item", "DeleteDetails", "Orders", new { key = detail.GameKey }, new { @class = "btn btn-danger" })</p>
	<hr />
}