@model GameStore.Web.Models.CompositeOrdersViewModel

@{
	ViewBag.Title = GlobalResource.Orders;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@GlobalResource.Orders</h1>
<hr />

@using (Html.BeginForm("ShowAll", "Orders", FormMethod.Post))
{
	<b>@Html.LabelFor(m => m.Filter.BeginningDate)</b>
	<p>
		@Html.TextBoxFor(m => m.Filter.BeginningDate, new { @class = "form-control", type = "date", placeholder = DateTime.UtcNow })
		@Html.ValidationMessageFor(m => m.Filter.BeginningDate)
	</p>
	<b>@Html.LabelFor(m => m.Filter.EndingDate)</b>
	<p>
		@Html.TextBoxFor(m => m.Filter.EndingDate, new { @class = "form-control", type = "date", placeholder = DateTime.UtcNow })
		@Html.ValidationMessageFor(m => m.Filter.EndingDate)
	</p>
	<p><button type="submit" class="btn btn-default">@GlobalResource.Filter</button></p>
}

<hr />

@if (Model.Orders.Count > 0)
{
	foreach (var order in Model.Orders)
	{
		<b>@Html.LabelFor(m => order.Id)</b>
		<p>@Html.ActionLink(order.Id.ToString(), "Show", "Orders", new {key = order.Id}, null)</p>
		<hr/>
	}
}
else
{
	<p>@GlobalResource.ThereAreNoOrdersThatMatchYourFilter</p>
}