@model GameStore.Web.Models.CompositeOrdersViewModel

@{
	ViewBag.Title = "Orders";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Orders</h1>
<hr />

@using (Html.BeginForm("ShowAll", "Orders", FormMethod.Post))
{
	<b>@Html.LabelFor(m => m.Filter.From)</b>
	<p>
		@Html.TextBoxFor(m => m.Filter.From, new { @class = "form-control", type = "date", placeholder = DateTime.UtcNow })
		@Html.ValidationMessageFor(m => m.Filter.From)
	</p>
	<b>@Html.LabelFor(m => m.Filter.To)</b>
	<p>
		@Html.TextBoxFor(m => m.Filter.To, new { @class = "form-control", type = "date", placeholder = DateTime.UtcNow })
		@Html.ValidationMessageFor(m => m.Filter.To)
	</p>
	<p><button type="submit" class="btn btn-default">Filter</button></p>
}

<hr />

@if (Model.Orders.Count > 0)
{
	foreach (var order in Model.Orders)
	{
		<b>@Html.LabelFor(m => order.Id)</b>
		<p>@Html.ActionLink(order.Id.ToString(), "Show", "Orders", new {key = order.Id}, null)</p>
		<hr/>
	}
}
else
{
	<p>There are no orders that match your filter</p>
}