@model GameStore.Web.Models.FilterViewModel

@using (Html.BeginForm("Filter", "Game", FormMethod.Post))
{
	<h2>Filter</h2>
	<b>@Html.LabelFor(m => m.GenresInput)</b>
	<p>
		@Html.ListBoxFor(m => m.GenresInput, new SelectList(Model.GenresData, "Id", "Name"))
	</p>
	<b>@Html.LabelFor(m => m.PlatformTypesInput)</b>
	<p>
		@Html.ListBoxFor(m => m.PlatformTypesInput, new SelectList(Model.PlatformTypesData, "Id", "Type"))
	</p>
	<b>@Html.LabelFor(m => m.PublishersInput)</b>
	<p>
		@Html.ListBoxFor(m => m.PublishersInput, new SelectList(Model.PublishersData, "Id", "CompanyName"))
	</p>
	<b>@Html.LabelFor(m => m.SortOptions)</b>
	<p>
		@Html.EnumDropDownListFor(m => m.SortOptions)
	</p>
	<b>@Html.LabelFor(m => m.MinPrice)</b>
	<p>
		@Html.EditorFor(m => m.MinPrice)
		@Html.ValidationMessageFor(m => m.MinPrice)
	</p>
	<b>@Html.LabelFor(m => m.MaxPrice)</b>
	<p>
		@Html.EditorFor(m => m.MaxPrice)
		@Html.ValidationMessageFor(m => m.MaxPrice)
	</p>
	<b>@Html.LabelFor(m => m.DateOptions)</b>
	<p>
		@Html.EnumDropDownListFor(m => m.DateOptions)
	</p>
	<b>@Html.LabelFor(m => m.GameName)</b>
	<p>
		@Html.EditorFor(m => m.GameName)
		@Html.ValidationMessageFor(m => m.GameName)
	</p>

	for (var i = 0; i < Model.PlatformTypesData.Count; i++)
	{
		@Html.HiddenFor(m => m.PlatformTypesData[i].Id)
		@Html.HiddenFor(m => m.PlatformTypesData[i].Type)
	}

	for (var i = 0; i < Model.GenresData.Count; i++)
	{
		@Html.HiddenFor(m => m.GenresData[i].Id)
		@Html.HiddenFor(m => m.GenresData[i].Name)
	}

	for (var i = 0; i < Model.PublishersData.Count; i++)
	{
		@Html.HiddenFor(m => m.PublishersData[i].Id)
		@Html.HiddenFor(m => m.PublishersData[i].CompanyName)
	}

	<button type="submit">Filter</button>
}