@using GameStore.Web.Models
@model GameStore.Web.Models.GameViewModel

@{
    ViewBag.Title = "Show Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Show Game</h1>

@Html.DisplayNameFor(model => model.Key)<br />
@Html.DisplayFor(model => model.Key)<br />

@Html.DisplayNameFor(model => model.Name)<br />
@Html.DisplayFor(model => model.Name)<br />

@Html.DisplayNameFor(model => model.Description)<br />
@Html.DisplayFor(model => model.Description)<br />

@Html.DisplayNameFor(model => model.Price)<br />
@Html.DisplayFor(model => model.Price)<br />

@Html.DisplayNameFor(model => model.UnitsInStock)<br />
@Html.DisplayFor(model => model.UnitsInStock)<br />

@Html.DisplayNameFor(model => model.Discontinued)<br />
@Html.DisplayFor(model => model.Discontinued)<br />

@Html.DisplayNameFor(model => model.AllPlatforms)<br />
@foreach (var platform in Model.AllPlatforms)
{
    <p>@platform.Type</p>
}

@Html.DisplayNameFor(model => model.AllGenres)<br />
@foreach (var genre in Model.AllGenres)
{
    <p>@genre.Name</p>
}

@if (Model.AllPublishers.Count > 0)
{
    @Html.DisplayNameFor(model => model.AllPublishers)<br />
    <p>@Model.AllPublishers.FirstOrDefault().CompanyName</p>
}

<a href="/game/@Model.Key/download" target="_blank">Download</a>
<a href="/game/@Model.Key/comments">Comments</a>