@model GameStore.Web.Models.GameViewModel

@{
	ViewBag.Title = "Show Game";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Show Game</h1>
<b>@Html.LabelFor(m => m.Key)</b>
<p>@Html.DisplayFor(m => m.Key)</p>
<b>@Html.LabelFor(m => m.Name)</b>
<p>@Html.DisplayFor(m => m.Name)</p>
<b>@Html.LabelFor(m => m.Description)</b>
<p>@Html.DisplayFor(m => m.Description)</p>
<b>@Html.LabelFor(m => m.Price)</b>
<p>@Html.DisplayFor(m => m.Price)</p>
<b>@Html.LabelFor(m => m.UnitsInStock)</b>
<p>@Html.DisplayFor(m => m.UnitsInStock)</p>
<b>@Html.LabelFor(m => m.Discontinued)</b>
<p>@Html.DisplayFor(m => m.Discontinued)</p>

@if (Model.PlatformTypesData.Count != 0)
{
	<b>@Html.LabelFor(m => m.PlatformTypesData)</b>
	foreach (var platform in Model.PlatformTypesData)
	{
		<p>@platform.Type</p>
	}
}

@if (Model.GenresData.Count != 0)
{
	<b>@Html.LabelFor(m => m.GenresData)</b>
	foreach (var genre in Model.GenresData)
	{
		<p>@genre.Name</p>
	}
}

@if (Model.PublishersData.Count != 0)
{
	var name = Model.PublishersData.First().CompanyName;
	<b>@Html.LabelFor(m => m.PublishersData)</b>
	<p>@Html.ActionLink(name, "Show", "Publisher", new { companyName = name }, null)</p>
}

@Html.ActionLink("Download", "Download", "Game", null, new { target = "_blank" })
@Html.ActionLink("Comments", "ListAll", "Comment", new { gameKey = Model.Key }, null)
@Html.ActionLink("Buy", "Edit", "Order", new { gameId = Model.Id }, null)