@model GameStore.Web.Models.GameViewModel

@{
    ViewBag.Title = "Show Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Show Game</h1>

@Html.LabelFor(model => model.Key)<br />
@Html.DisplayFor(model => model.Key)<br />
<br />
@Html.LabelFor(model => model.Name)<br />
@Html.DisplayFor(model => model.Name)<br />
<br />
@Html.LabelFor(model => model.Description)<br />
@Html.DisplayFor(model => model.Description)<br />
<br />
@Html.LabelFor(model => model.Price)<br />
@Html.DisplayFor(model => model.Price)<br />
<br />
@Html.LabelFor(model => model.UnitsInStock)<br />
@Html.DisplayFor(model => model.UnitsInStock)<br />
<br />
@Html.LabelFor(model => model.Discontinued)<br />
@Html.DisplayFor(model => model.Discontinued)<br />
<br />
@Html.LabelFor(model => model.PlatformTypesData)<br />
@foreach (var platform in Model.PlatformTypesData)
{
    <p>@platform.Type</p>
}

@Html.LabelFor(model => model.GenresData)<br />
@foreach (var genre in Model.GenresData)
{
    <p>@genre.Name</p>
}

@if (Model.PublishersData != null)
{
    var name = Model.PublishersData.First().CompanyName;
    @Html.LabelFor(model => model.PublishersData)<br />
    <p>@Html.ActionLink(name, "ShowPublisher", "Publisher", new { companyName = name }, null)</p>
}

@Html.ActionLink("Download", "DownloadGame", "Game", null, new { target = "_blank" })
@Html.ActionLink("Comments", "ListAllComments", "Comment", new { gameKey = Model.Key }, null)
@Html.ActionLink("Buy", "EditOrder", "Order", new { gameId = Model.Id }, null)