@model GameStore.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>
@using (Html.BeginForm("Login", "Accounts", FormMethod.Post))
{
    <b>@Html.LabelFor(m => m.Login)</b>
    <p>
        @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Login)
    </p>
    <b>@Html.LabelFor(m => m.Password)</b>
    <p>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </p>
    <b>@Html.LabelFor(m => m.IsPersistent)</b>
    <p>@Html.EditorFor(m => m.IsPersistent)</p>
    <button type="submit" class="btn btn-default">Login</button>
}