@model GameStore.Web.Models.RegisterViewModel

@{
	ViewBag.Title = GlobalResource.Registration;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@GlobalResource.Registration</h1>
<hr/>

@using (Html.BeginForm("Register", "Accounts", FormMethod.Post))
{
	<b>@Html.LabelFor(m => m.Login)</b>
	<p>
		@Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Login)
	</p>
	<b>@Html.LabelFor(m => m.Password)</b>
	<p>
		@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Password)
	</p>
	<b>@Html.LabelFor(m => m.PasswordConfirmation)</b>
	<p>
		@Html.PasswordFor(m => m.PasswordConfirmation, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.PasswordConfirmation)
	</p>
	<button type="submit" class="btn btn-default">@GlobalResource.ToRegister</button>
}