@model List<GameStore.Web.Models.UserViewModel>

@{
	ViewBag.Title = GlobalResource.Users;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@GlobalResource.Users</h1>
<hr />

@if (Model.Count != 0)
{
	foreach (var user in Model)
	{
		<b>@Html.LabelFor(m => user.Login)</b>
		<p>@Html.ActionLink(user.Login, "Show", "Users", new { key = user.Login }, null)</p>
		<hr />
	}
}
else
{
	<p>@GlobalResource.ThereAreNoUsersInTheSystem</p>
}

<p>
	@Html.ActionLink(GlobalResource.ToCreate, "New", "Users", null, new {@class = "btn btn-default"})
</p>