@model GameStore.Web.Models.UserViewModel

@{
	ViewBag.Title = Model.Login;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Login</h1>
<hr/>
<b>@Html.LabelFor(m => m.Login)</b>
<p>@Html.DisplayFor(m => m.Login)</p>
<b>@Html.LabelFor(m => m.RolesInput)</b>

@if (Model.RolesInput.Count != 0)
{
	foreach (var name in Model.RolesInput)
	{
		<p>@Html.ActionLink(name, "Show", "Roles", new { key = name }, null)</p>
	}
}
else
{
	<p>Guest</p>
}

<b>@Html.LabelFor(m => m.IsDeleted)</b>
<p>@Html.DisplayFor(m => m.IsDeleted)</p>

<p>
	@Html.ActionLink(GlobalResource.ToUpdate, "Update", "Users", new { key = Model.Login }, new { @class = "btn btn-default" })

	@if (!Model.IsDeleted)
	{
		@Html.ActionLink(GlobalResource.ToDelete, "Delete", "Users", new { key = Model.Login }, new { @class = "btn btn-danger" })
	}
</p>