@model GameStore.Web.Models.CommentViewModel

@{
	ViewBag.Title = "Update Comment";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update Comment</h1>
@using (Html.BeginForm("Update", "Comments", FormMethod.Post))
{
	@Html.HiddenFor(m => m.GameKey)
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.NorthwindId)
	@Html.HiddenFor(m => m.IsDeleted)
	@Html.HiddenFor(m => m.ParentCommentId)
	<b>@Html.LabelFor(m => m.Name)</b>
	<p>
		@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
	</p>
	<b>@Html.LabelFor(m => m.Body)</b>
	<p>
		@Html.TextBoxFor(m => m.Body, new { @class = "form-control" })
	</p>
	<p><button type="submit" class="btn btn-default">Update</button></p>
}