@model GameStore.Web.Models.GenreViewModel

@{
	ViewBag.Title = "Show Genre";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Show Genre</h1>
<b>@Html.LabelFor(m => m.Name)</b>
<p>@Html.DisplayFor(m => m.Name)</p>
@if (Model.ParentGenreInput != null)
{
	<b>@Html.LabelFor(m => m.ParentGenreInput)</b>
	<p>@Html.DisplayFor(m => m.ParentGenreInput)</p>
}

@Html.ActionLink("Update", "Update", "Genres", new { key = Model.Name }, new { @class = "btn btn-default" })
@Html.ActionLink("Delete", "Delete", "Genres", new { key = Model.Name}, new { @class = "btn btn-danger" })