@model GameStore.Web.Models.GenreViewModel

@{
	ViewBag.Title = Model.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<hr/>
<b>@Html.LabelFor(m => m.IsDeleted)</b>
<p>@Html.DisplayFor(m => m.IsDeleted)</p>
@if (Model.ParentGenreInput != null)
{
	<b>@Html.LabelFor(m => m.ParentGenreInput)</b>
	<p>@Html.DisplayFor(m => m.ParentGenreInput)</p>
}

<p>
	@Html.ActionLink(GlobalResource.ToUpdate, "Update", "Genres", new {key = Model.Name}, new {@class = "btn btn-default"})

	@if (!Model.IsDeleted)
	{
		@Html.ActionLink(GlobalResource.ToDelete, "Delete", "Genres", new { key = Model.Name }, new { @class = "btn btn-danger" })
	}
</p>