@using GameStore.Common.Enums
@model GameStore.Web.Models.GameViewModel

@{
	ViewBag.Title = Model.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";
	var base64 = Convert.ToBase64String(Model.ImageData.Data);
	var imgSrc = $"data:image/gif;base64,{base64}";
}

@if (Model.ImageData != null)
{
    <img src="@imgSrc" style="max-width:320px; max-height:240px;" />
}

<h1>@Html.DisplayFor(m => m.Name)</h1>
<hr/>
<b>@Html.LabelFor(m => m.Key)</b>
<p>@Html.DisplayFor(m => m.Key)</p>
<b>@Html.LabelFor(m => m.Description)</b>
<p>@Html.DisplayFor(m => m.Description)</p>
<b>@Html.LabelFor(m => m.Price)</b>
<p>@Html.DisplayFor(m => m.Price)</p>
<b>@Html.LabelFor(m => m.UnitsInStock)</b>
<p>@Html.DisplayFor(m => m.UnitsInStock)</p>
<b>@Html.LabelFor(m => m.Discontinued)</b>
<p>@Html.DisplayFor(m => m.Discontinued)</p>

@if (Model.PlatformTypesInput.Count != 0)
{
	<b>@Html.LabelFor(m => m.PlatformTypesInput)</b>

	foreach (var platformType in Model.PlatformTypesInput)
	{
		<p>@platformType</p>
	}
}

<b>@Html.LabelFor(m => m.GenresInput)</b>

@if (Model.GenresInput.Count != 0)
{
	foreach (var name in Model.GenresInput)
	{
		<p>@name</p>
	}
}
else
{
	<p>@GlobalResource.Other</p>
}

<b>@Html.LabelFor(m => m.PublisherInput)</b>

@if (Model.PublisherInput != null)
{
	<p>@Model.PublisherInput</p>
}
else
{
	<p>@GlobalResource.UnknownPublisher</p>
}

@if (User.Identity.IsAuthenticated)
{
	@Html.ActionLink(GlobalResource.ToDownload, "Download", "Games", null, new { target = "_blank", @class = "btn btn-primary" })

	using (Html.BeginForm("Buy", "Orders", FormMethod.Post))
	{
		<input type="hidden" name="gameKey" value=@Model.Key />
		<button type="submit" class="btn btn-default">@GlobalResource.ToBuy</button>
	}
}

@if (!User.Identity.IsAuthenticated || User.Identity.IsAuthenticated && !User.IsInRole(AccessLevel.Administrator.ToString()))
{
	@Html.ActionLink(GlobalResource.Comments, "New", "Comments", new { key = Model.Key }, new { @class = "btn btn-default" })
}

@if (User.Identity.IsAuthenticated && User.IsInRole(AccessLevel.Manager.ToString()))
{
	@Html.ActionLink(GlobalResource.ToUpdate, "Update", "Games", new { key = Model.Key }, new { @class = "btn btn-default" })
	@Html.ActionLink(GlobalResource.ToDelete, "Delete", "Games", new { key = Model.Key }, new { @class = "btn btn-danger" })
}