@model GameStore.Web.Models.CommentViewModel

<div id="commentForm">
    @using (Ajax.BeginForm("NewComment", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "commentForm",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "reloadPage"
    }))
    {
        @Html.HiddenFor(m => m.GameId)
        @Html.LabelFor(model => model.Name)<br />
        @Html.EditorFor(model => model.Name)<br />
        @Html.ValidationMessageFor(m => m.Name)<br />
        @Html.LabelFor(model => model.Body)<br />
        @Html.EditorFor(model => model.Body)<br />
        @Html.ValidationMessageFor(m => m.Body)<br />
        <button id="button" type="submit">Create</button>
    }
</div>

<script type="text/javascript">
    function reloadPage(data) {
        var isValid = '@Html.Raw(Json.Encode(ViewData.ModelState.IsValid))';
        if (isValid === 'true') {
            location.reload();
        }
    }
</script>