@model GameStore.Web.Models.CommentViewModel

<div id="@System.DateTime.UtcNow.Millisecond">
    @using (Ajax.BeginForm("NewComment", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = (@System.DateTime.UtcNow.Millisecond).ToString(),
        InsertionMode = InsertionMode.Replace
    }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.GameId)
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.GameKey)
        @Html.HiddenFor(m => m.ParentCommentId)

        @Html.LabelFor(model => model.Name)<br />
        @Html.EditorFor(model => model.Name)<br />

        @Html.LabelFor(model => model.Body)<br />
        @Html.EditorFor(model => model.Body)<br />

        <button id="button" type="submit">Create</button>
    }
</div>