@model GameStore.Web.Models.PublisherViewModel

@{
	ViewBag.Title = "Show Publisher";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Show Publisher</h1>
<b>@Html.LabelFor(m => m.CompanyName)</b>
<p>@Html.DisplayFor(model => model.CompanyName)</p>
<b>@Html.LabelFor(m => m.Description)</b>
<p>@Html.DisplayFor(m => m.Description)</p>
<b>@Html.LabelFor(m => m.HomePage)</b>
<p>@Html.DisplayFor(m => m.HomePage)</p>

@Html.ActionLink("Update", "Update", "Publishers", new { key = Model.CompanyName }, new { @class = "btn btn-default" })