@model GameStore.Web.Models.PublisherViewModel

@{
	ViewBag.Title = "Update Publisher";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update Publisher</h1>
@using (Html.BeginForm("Update", "Publishers", FormMethod.Post))
{
	<b>@Html.LabelFor(m => m.CompanyName)</b>
	<p>
		@Html.DisplayFor(m => m.CompanyName)
	</p>
	<b>@Html.LabelFor(m => m.Description)</b>
	<p>
		@Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Description)
	</p>
	<b>@Html.LabelFor(m => m.HomePage)</b>
	<p>
		@Html.TextBoxFor(m => m.HomePage, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.HomePage)
	</p>
	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.NorthwindId)
	<p><button type="submit" class="btn btn-default">Update</button></p>
}