@using GameStore.Web.Infrastructure.Helpers
@model GameStore.Web.Models.RoleViewModel

@{
	ViewBag.Title = GlobalResource.NewRole;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@GlobalResource.NewRole</h1>
<hr/>

@using (Html.BeginForm("New", "Roles", FormMethod.Post))
{
	<b>@Html.LabelFor(m => m.Name)</b>
	<p>
		@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Name)
	</p>
	<b>@Html.LabelFor(m => m.AccessLevel)</b>
	<p>
		@Html.CreateRadioButtonGroup("AccessLevel", Model.AccessLevel)
		@Html.ValidationMessageFor(m => m.AccessLevel)
	</p>
	<p><button type="submit" class="btn btn-default">@GlobalResource.ToCreate</button></p>
}