@model GameStore.Web.Models.RoleViewModel

@{
	ViewBag.Title = Model.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<hr/>
<b>@Html.LabelFor(m => m.Name)</b>
<p>
	@Html.DisplayFor(m => m.Name)
</p>
<b>@Html.LabelFor(m => m.AccessLevel)</b>
<p>
	@Html.DisplayFor(m => m.AccessLevel)
</p>
<b>@Html.LabelFor(m => m.IsDeleted)</b>
<p>@Html.DisplayFor(m => m.IsDeleted)</p>

<p>
	@Html.ActionLink(GlobalResource.ToUpdate, "Update", "Roles", new { key = Model.Name }, new { @class = "btn btn-default" })

	@if (!Model.IsDeleted)
	{
		@Html.ActionLink(GlobalResource.ToDelete, "Delete", "Roles", new { key = Model.Name }, new { @class = "btn btn-danger" })
	}
</p>