@model List<GameStore.Web.Models.RoleViewModel>

@{
	ViewBag.Title = GlobalResource.Roles;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@GlobalResource.Roles</h1>
<hr />

@if (Model.Count != 0)
{
	foreach (var role in Model)
	{
		<b>@Html.LabelFor(m => role.Name)</b>
		<p>@Html.ActionLink(role.Name, "Show", "Roles", new { key = role.Name }, null)</p>
		<hr />
	}
}
else
{
	<p>@GlobalResource.ThereAreNoRolesInTheSystem</p>
}

<p>
	@Html.ActionLink(GlobalResource.ToCreate, "New", "Roles", null, new {@class = "btn btn-default"})
</p>